<%- include('../../partials/header') %>
    <%- include('../../partials/navbar') %>

        <div class="container">
            <hr>
            <h2>Categorias</h2>
            <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>

                    </tr>
                </thead>
                <tbody>
                    <%categories.forEach(category=> { %>
                        <tr>
                            <th>
                                <%= category.id %>
                            </th>
                            <th>
                                <%= category.title %>
                            </th>
                            <th>
                                <%= category.slug %>
                            </th>
                            <th>
                                <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                                
                                <form method="post" action="/categories/delete" style="display: inline;" onsubmit="confimationDelete(event,this)">
                                                                                <!--o This esta fazendo referencia a segundo parametro do evento, no caso o prṕŕio form-->
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>


                            </th>
                        </tr>
                        <% })%>
                </tbody>
            </table>
        </div>
        <%- include('../../partials/footer') %>
        <script>
            function confimationDelete(event,form){
                event.preventDefault();
             var popUpConfirm =  confirm("Você realmente quer deletar a categoria ?");
             if(popUpConfirm){
               form.submit();
             }else{
                 console.log('Não quero deletar');
             }
            }
        </script>